    text-transform: none;
    color: #5e5e5e;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: 0;
    outline: 0;
    word-wrap: break-word;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #ffffff;
